<div class="white-bar">
    <div class="top-bar">
      <!-- <button style="background-color: red; color: white;">se deconnecter</button> -->
      <!-- <button style="background-color: white; color:black;"><a style="color:black;" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">accueil</a></button> -->
      <a routerLink="quizzcards" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <button style="background-color:green; color:white;">quizzcards</button>
      </a>
      <a routerLink="createcard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <button style="background-color: blue; color: white;">créer une QuizzCard</button>
      </a>
      <a routerLink="mycards" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <button style="background-color: red; color:white;">voir mes cartes</button>
      </a>
    </div>
  </div>
