<div class="side-bar" [ngClass]="{'translate' : side_bar}">

    <!-- <button style="background-color: red; color: white;">se deconnecter</button> -->
    <a routerLink="quizzcards" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <button style="background-color:rgb(2, 157, 2); color:white;">quizzcards</button>
    </a>
    <a routerLink="createcard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <button style="background-color: blue; color: white;">créer une QuizzCard</button>
    </a>
    <a routerLink="mycards" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <button style="background-color: red; color:white;">voir mes cartes</button>
    </a>
    <div class="sign" *ngIf="auth.isAuth === false">
        <a routerLink="sign/in" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <button style="background-color: rgb(12, 121, 8); color:white;">se connecter</button>
        </a>

        <a routerLink="sign/up" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <button style="background-color:  rgb(13, 10, 204); color:white;">s'inscrire</button>
        </a>
    </div>


    <button style="background-color:  rgb(195, 10, 10); color:white;" class="lg" *ngIf="auth.isAuth === true" (click)="auth.onDisonnected()"  class="logOut">deconnecter</button>


</div>
