.flip {
    perspective: 3000px;
    cursor: pointer;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;     /* indispensable pour 3D */
    transition: transform 0.5s ease;  /* durée et easing */
}

.quizz-card-back {
    transform: rotateY(180deg);
}

.flip.is-flipped .flipper {
    transform: rotateY(180deg);
}

img{
    height: 30vh;
    width: 99.5%;
}

.theme{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-bottom: 8px;
}

button{
    font-size: 18px;
    background-color: rgb(238, 236, 236);
    border-radius : 10px;
    margin-left: 15%; margin-right: 15%;
    border: 1px solid black;
}

.categ{
    font-size: 20px;
}


.question{
    font-size: 20px;
}

.reponse{
    color: green;
    font-size: 20px;
}

.quizz-card-front{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
    height: 65vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgb(201, 200, 200);

    inset: 0;
    backface-visibility: hidden;
    display: flex;
}

.quizz-card-back{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
    height: 65vh;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgb(201, 200, 200);
    position: relative;

    inset: 0;
    backface-visibility: hidden;
    display: flex;
}

.quizz-card-front:hover{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
    height: 65vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgb(117, 116, 116);
    position: relative;
}

.public{
    color: white;
    background-color: green;
}

.prived{
    background-color: red;
    color: white;
}

@media screen and (max-width: 650px) {
    .quizz-card-front , .quizz-card-back{
        text-align: center;
        width: 90vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 15px rgb(119, 119, 119);
        border-radius: 8px;
    }

    .quizz-card-front:hover , .quizz-card-back:hover{
        text-align: center;
        width: 90vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 15px black;
        border-radius: 8px;
    }
}

@media screen and (min-width:650px) and (max-width: 800px) {
    .quizz-card-front , .quizz-card-back{
        text-align: center;
        width: 80vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 15px rgb(100, 99, 99);
        border-radius: 8px;
    }
    .quizz-card-front:hover , .quizz-card-back:hover{
        text-align: center;
        width: 80vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 15px black;
        border-radius: 8px;
    }
}

@media screen and (min-width: 801px) and (max-width: 940px) {
    .quizz-card-front , .quizz-card-back{
        text-align: center;
        width: 45vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 15px rgb(96, 96, 96);
        border-radius: 8px;
    }
    .quizz-card-front:hover , .quizz-card-back:hover{
        text-align: center;
        width: 45vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 15px black;
        border-radius: 8px;
    }
}