<mat-toolbar color="primary" class="header" >
    <a class="aimg" href="" routerLink=""><img class="img2" src="assets/app_logo.jpeg" alt=""/></a>
    <button class="menu" (click)="onClique()"> <img class="img1" [src]="img_menue" alt="" *ngIf="route.url !=='/'"/> </button>
    <div style="color: white;">The Quizz Cards</div>

    <mat-card class="sign" *ngIf="auth.isAuth === false">
        <a class="signIn" mat-button routerLink="sign/in" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            se connecter
        </a>
        <a class="signUp" mat-button routerLink="sign/up" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            s'inscrire
        </a>
    </mat-card>

    <div class="lg" *ngIf="auth.isAuth === true">
        <button (click)="onDisconnect()"  class="logOut">deconnecter</button>
    </div>
</mat-toolbar>


