.header{
    display: flex;
    // background:linear-gradient(rgb(3, 6, 179),red);
    background-color: rgb(36, 22, 190);
    height: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 1;
}

.img1{
    width: 25px;
    position: absolute;
    left: -35px;
}

.aimg{
    width: 50px;
    height: 55px;
}

.img2{
    width: 50px;
    height: 55px;
}

.menu{
    position: absolute;
    top: 15px;
    right: -12%;
    background: none;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    font-size: 18px;
    color: white;
}

.sign{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 30%;
    height: 40px;
    right: 2%;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 0%;
    
}

.lg{
    position: absolute;
    display: flex;
    gap: 20px;
    width: 14%;
    height: 40px;
    right: 2%;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    
}

.signIn{
    border-radius: 8px;
    font-size: 14px;
    height: 25px;
    width: 45%;
    background-color: rgb(1, 118, 1);
    color: white;
}

.signUp{
    border-radius: 8px;
    font-size: 14px;
    width: 45%;
    height: 25px;
    background-color: rgb(9, 12, 233);
    color: white;
}

.logOut{
    top: 15px;
    border-radius: 10px;
    font-size: 14px;
    width: 95%;
    height: 25px;
    background-color: rgb(221, 19, 19);
    color: white;
}

.active{
    box-shadow: 5px 5px 8px rgb(255, 255, 255);
    border-radius: 10px;
}



@media screen and (min-width:850px) {
    .menu{
        display: none;
    }
}

@media screen and (max-width:850px) {
    .sign{
        display: none;
    }
    
    .lg{
        display: none;
    }
}

